body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .background {
    background-image: url("fondo.jpg"); /* Agrega la ruta a tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: scrollAnimation 10s linear infinite;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .gallery-item {
    width: 100%;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item:hover {
    transform: scale(1.1);
  }
  
  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  #lightbox-image {
    max-width: 90%;
    max-height: 90%;
  }
  
  .close-button {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    color: #f1f1f1;
    cursor: pointer;
  }
  
  @keyframes scrollAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }